.tdhRoot {
	width : 100%;
	text-align : center;
}

.oneSelect {
	display : inline-block;
	width : 10%;
	margin : 10px;
	text-align : left;
}

.labelTHD {
	color : white;
}

.date-picker {
    display: inline-flex;
    min-width: auto;
    width: auto;
    margin-left: 5px;
}